<div class="container-fluid">
    <div id="content-container" class="row">
        <left-nav-exercises></left-nav-exercises>
        <div *ngIf="workout" id="workout-container" class="workout-container">
           <div class="row">
               <h2 class="col-sm-9">{{workout.title||'Workout Title'}} </h2>
            </div>
            <form #f="ngForm" name="formWorkout" (ngSubmit)="save(f.form)" class="row" novalidate>
                <div id="exercises-list" class="col-sm-2 exercise-list">
                    <div *ngFor="let exercisePlan of workout.exercises; let i=index" class="exercise-item">
                        <div class="exercise tile">
                            <div class="title">
                                {{exercisePlan.exercise.title}}
                                <div class="pull-right" (click)="removeExercise(exercisePlan)"><span class="glyphicon glyphicon-trash"></span></div>
                            </div>
                            <div class="index"><span>{{i +1}}</span></div>
                            <div class="main">
                                <div class="image">
                                    <img [src]="exercisePlan.exercise.image? '/static/images/' + exercisePlan.exercise.image: '/static/images/' + 'running.png'" />
                                </div>
                                <div class="details">
                                    <select class="select-duration form-control" name="duration" [(ngModel)]="exercisePlan.duration">
                                        <option *ngFor="let duration of durations" [value]="duration.value">{{duration.title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="order">
                                <button type="button" class="btn btn-info" (click)="moveExerciseTo(exercisePlan,0)"><span class="glyphicon glyphicon-upload"></span></button>
                                <button type="button" class="btn btn-info" (click)="moveExerciseTo(exercisePlan,i-1)"><span class="glyphicon glyphicon-chevron-up"></span></button>
                                <button type="button" class="btn btn-info" (click)="moveExerciseTo(exercisePlan,i+1)"><span class="glyphicon glyphicon-chevron-down"></span></button>
                                <button type="button" class="btn btn-info" (click)="moveExerciseTo(exercisePlan,workout.exercises.length-1)"><span class="glyphicon glyphicon-download"></span></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="hidden" name="exerciseCount" #exerciseCount="ngModel" class="form-control" id="exercise-count" [(ngModel)]="workout.exercises.length" pattern="[1-9][0-9]*">
                        <label *ngIf="exerciseCount.control.hasError('pattern') && (removeTouched || submitted)" class="alert alert-danger extended-validation-message">The workout should have at least one exercise!</label>
                    </div>
                </div>
                <div id="workout-data" class="col-sm-7 workout-data">
                    <div class="form-group row">
                        <label for="workout-name">Name:</label>
                        <input type="text" name="workoutName" #name="ngModel" class="form-control" id="workout-name" placeholder="Enter workout name. Must be unique." [(ngModel)]="workout.name" required [disabled]="isExistingWorkout"
                        a2beBusyIndicator a2beRemoteValidator="workoutname" [validateFunction]="validateWorkoutName">
                        <div *ngIf="name.touched || submitted">
                            <label *ngIf="name.control.hasError('required')" class="alert alert-danger validation-message">Name is required</label>
                            <label *ngIf="name.control.hasError('workoutname')" class="alert alert-danger validation-message">A workout with this name already exists.</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="workout-title">Title:</label>
                        <input type="text" name="title" class="form-control" #title="ngModel" id="workout-title" placeholder="What would be the workout title?" [(ngModel)]="workout.title" minlength="5" maxlength="20" required>
                        <div *ngIf="title.touched || submitted">
                            <label *ngIf="title.control.hasError('required')" class="alert alert-danger validation-message">Title is required.</label>
                            <label *ngIf="(title.control.hasError('minlength') || title.control.hasError('maxlength')) && workout.title.length > 0" class="alert alert-danger validation-message">Title should be between 5 and 20 characters long.</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="workout-description">Description:</label>
                        <textarea name="description" class="form-control" id="workout-description" placeholder="Enter workout description." [(ngModel)]="workout.description"></textarea>
                    </div>
                    <div class="form-group row">
                        <label for="workout-rest">Rest Time (in seconds):</label>
                        <input type="number" #rest="ngModel" name="restBetweenExercise" class="form-control" id="workout-rest" placeholder="Rest period between exercise in seconds." [(ngModel)]="workout.restBetweenExercise" required>
                        <label *ngIf="rest.control.hasError('required') && (rest.touched || submitted)" class="alert alert-danger validation-message">Rest time is required</label>                    </div>
                    <div class="form-group row">
                        <label>Total Exercises:</label>
                        <p class="label label-primary label-as-badge">{{workout.exercises?.length}}</p>
                    </div>
                    <div class="form-group row">
                        <label>Total Duration:</label>
                        <p class="label label-primary label-as-badge" *ngIf="workout.exercises?.length>0">{{workout.totalWorkoutDuration()|secondsToTime}}</p>
                        <p class="label label-primary label-as-badge" *ngIf="workout.exercises?.length==0"></p>
                    </div>
                    <div class="row">
                        <ajax-button [execute]="save" [parameter]="f">
                            <span class="glyphicon glyphicon-refresh spin" data-animator></span>
                            <span data-content>Save</span>
                        </ajax-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>