<div class="container-fluid">
    <div id="content-container" class="row">
        <left-nav-main></left-nav-main>
        <div *ngIf='exerciseList && exerciseList.length > 0' class="exercises-container">
            <h1 class="text-center list-title">Exercises</h1>
            <div *ngFor="let exercise of exerciseList|orderBy:'title'" class="exercise-tile" (click)="onSelect(exercise)">
                <div class="title">{{exercise.title}}</div>
            </div>
        </div>
    </div>
</div>